@import "../../shared/styles/forms.css";

.central.signupcontainer{
    max-width: 400px;
    color: #0F0F0F;
}

.callforaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 4rem 0;
}
.callforaction > h4{
    color: #001523;
    font-weight: bold;
}

.callforaction > p,.footer >p{
    color: #004a7c;
    font-weight: 500;
}

.passwordforget{
    display: inline-block;
    color: #004A7C;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    cursor: pointer;
}

.innerform{
    margin-bottom: 40%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.footer > app-button{
    width: 100%;
    padding: 2rem 0 0 0;
}


  @media only screen and (max-device-width : 480px) {
    .central.signupcontainer {
      height: calc(100% - 2rem);
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .callforaction{
        align-items: baseline;
    }

    .passwordforget{
        font-size: 1.2rem;
    }
  };

  @media only screen and (min-device-width : 481px) and (max-device-width : 1167px) {
    .central.signupcontainer {
        height: calc(100% - 4rem);
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .passwordforget{
        font-size: 1.225rem;
      }
    }
  
  @media only screen and  (min-device-width : 1168px) {
    .central.signupcontainer  {
       padding: 0;
   }
  }