<footer class="footerwrapper">
    <section class="fmain">
        <section class="col1">
            <ul>
                <li class="flink">Privacy</li>
                <li class="flink">Terms</li>
                <li class="flink">Sitemap</li>
            </ul>
        </section>
        <section class="col2">
            <ul>
                <li class="flink"><a href="#" class="anostyle">LinkedIn</a></li>
                <li class="flink">info@candiagents.com</li>
            </ul>
        </section>
        <section class="col3">
            <span>Claimletters</span>
        </section>
    </section>
    <section class="fbottom smalltext">
        <span>&copy;Claimletters</span>
    </section>  
</footer>