:host{
    background: transparent;
}

.default{
    margin: 0;
    padding: 0 16px;
    min-height: 4.05rem;
    min-width: 72px;
    border-radius: 0.449rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    z-index: 1;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
}
.minimal{
    background-color: #FFFFFF;
    color:#0F0F0F;
}

.minimal::after{
    content: "";
    display: block;
    width: 25%;
    border-bottom: 1px solid #0F0F0F;
    transition: width 0.2s ease-out,
}

.solid {
    background: #004a7c;
    color: #FFFFFF;
}

.solid::after{
    content: "";
    display: block;
    width: 25%;
    border-bottom: 1px solid #FFFFFF;
    transition: width 0.2s ease-out;
}

.default.signin{
    margin: 0 1rem 0 0;
}

.borders:not(.solid){
    border: 1px solid #0F0F0F;
}

.short{
    min-height: 3.6rem;
}

.tall:not(.round){
    min-height: 4.4rem; 
}

.tall.round{
    min-height: 4.6rem;
}

.round.short:not(.tall){
    border-radius: 1.8rem;
}

.round:not(.tall):not(.short){
    border-radius: 2.025rem;
}

.round.tall:not(.short){
  border-radius: 2.3rem;
  padding: 0 18px;
}


:host:hover > .minimal:after, :host:hover > .solid:after  {
    width: 100%;
}

@media only screen and (max-device-width : 480px) {
    .default{
        font-size: 1.378rem;
    }
    .default.signin, .default.signup{
        padding: 0 1rem;
        min-height: 3.6rem;
        border-radius: 1.8rem;
    }
    .default.signin{
        margin:0
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 600px) {
    .default{
        font-size: 1.575rem;
    }
}