<div class="main" [(isinviewport)]="animearr">
    <div class="sectionwrapper flexcentre">
        <section class="innersection" [@rightleft] = "animearr[0] === true?'inview':'none'" (@rightleft.start) = "$event.fromState == 'void'?tidyupafter(animearr):null">
            <article class="leftbox herotext">
                    <h1 class="heroheadline">Customer complaints and claims management system</h1>
                    <p><span class="special">Track</span>, <span class="special">resolve</span> and <span class="special">analyse</span> customer complaints and claims for as low as <span class="special">1 USD</span> per month.</p>
                    <p><span class="special">Improve</span> customer retention and experience.</p>
            </article>
            <article class="rightbox">
                    <img src="\assets\images\564X294\bluemain.png" width="564" height="294" alt="claims and complaints management">   
            </article>
        </section>
        <section class="central">
            <app-button [buttonstyle]="'solid tall round'">Create your account now</app-button>
        </section>
    </div>
    <section class="central">
        <h3 class="simplesecondaryheadline">How it works</h3>
    </section>
    <div [class]="leftcardispresent?'sectionwrapper':'sectionwrapper lightgreysection'">
        <div class="central">
            <app-howitworks [howitworksdata] = "howitworks" (leftcardstate) = "leftcardispresent = $event"></app-howitworks>
        </div>
    </div>
    <div class="sectionwrapper flexcentre">
        <section class="reverseinnersection" [@rightleft] = "animearr[1] === true?'inview':'none'">
            <article class="leftbox">
                <img src="\assets\images\564X294\track.png" width="564" height="294" alt="track claims and complaints">
            </article>
            <article class="rightbox">
                <h3 class="simplesecondaryheadline"><span class="blue special">Track</span> customer claims and complaints</h3>
                <p class="largetext">Track the progress of claims and complaints, filter and change statuses.</p>
            </article>
        </section>
        <section class="central end">
            <app-button [buttonstyle]="'solid tall round'">Track</app-button>
        </section>
    </div>
    <div class="sectionwrapper lightbluesection">
        <div class="innersection white" [@rightleft] = "animearr[2] === true?'inview':'none'">
            <article class="leftbox">
                <h3 class="simplesecondaryheadline">Custom categorisation</h3>
            </article>
            <article class="rightbox largetext">
                <p>Categorise claims and complaints based on your unique business logic.</p>
                <p>Filter complaints based on whether or not they are monetary demands for compensation.</p>
            </article>
        </div>
    </div>
    <div class="sectionwrapper flexcentre">
        <section class="innersection" [@rightleft] = "animearr[3] === true?'inview':'none'">
            <article class="leftbox">
                <h3 class="simplesecondaryheadline"><span class="blue special">Resolve</span> customer claims and complaints efficiently</h3>
                <p class="largetext">Focus on solving customer problems, while saving time on administration.</p>
            </article>
            <article class="rightbox">
                <img src="\assets\images\564X294\resolve.png" width="564" height="294" alt="resolve claims and complaints">
            </article>
        </section>
        <section class="central">
            <app-button [buttonstyle]="'solid tall round'">Resolve</app-button>
        </section>
    </div>
    <div class="sectionwrapper flexcentre">
        <section class="reverseinnersection" [@rightleft] = "animearr[4] === true?'inview':'none'">
            <article class="leftbox">
                <img src="\assets\images\564X294\analyse.png" width="564" height="294" alt="analyse claims complaints">
            </article>
            <article class="rightbox">
                <h3 class="simplesecondaryheadline"><span class="blue special">Analyse</span> statistical data</h3>
                <p class="largetext">Analyse statistical data to make improvements to your operations.</p>              
            </article>
        </section>
        <section class="central end">
            <app-button [buttonstyle]="'solid tall round'">Analyse</app-button>
        </section>
    </div>
</div>