<div class="central signin-container">
  <form class="inner-form" #emailform="ngForm">
    <section class="call-for-action">
      <h4 class="simple-secondary-headline">Reset your password</h4>
      <p class="small-text">Enter your e-mail and reset your password.</p>
    </section>
    <div class="controlgroup">
      <label for="email" class="simple-text">E-mail</label>
      <input
        type="email"
        id="email"
        ngModel
        #email="ngModel"
        name="email"
        [class]="showEmailError ? 'error' : null"
        (blur)="checkEmailValidity()"
        emailValidation
      />
      <span class="custommathint" *ngIf="!showEmailError"
        >You can use letters, numbers and
        <span class="tooltip allowed-char">special charаchters.</span></span
      >
      <span
        class="custom-mat-error"
        *ngIf="showEmailError"
        [errorObject]="email?.errors"
        (errorMessage)="emailMessage = $event"
        >{{ emailMessage }}</span
      >
    </div>
    <app-button
      [buttonStyle]="['accent', 'tall', 'round', 'no-line', 'stretch']"
      [disabled]="!emailform.valid"
      (click)="resetPassword(emailform)"
      >Reset your password</app-button
    >
    <app-button
      [buttonStyle]="['minimal', 'tall', 'round', 'borders', 'no-line']"
      (click)="back()"
      >Back</app-button
    >
  </form>
</div>
