@import "../../shared/styles/forms.css";

.central.signincontainer{
    max-width: 400px;
    color: #0F0F0F;
}

.callforaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 4rem 0;
}
.callforaction > h4{
    color: #001523;
    font-weight: bold;
}

.callforaction > p {
    color: #004a7c;
    font-weight: 500;
}


.innerform{
    margin-bottom: 40%;
}

  @media only screen and (max-device-width : 480px) {
    .central.signincontainer {
      height: calc(100% - 2rem);
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .callforaction{
        align-items: baseline;
    }
  };

  @media only screen and (min-device-width : 481px) and (max-device-width : 1167px) {
    .central.signincontainer {
        height: calc(100% - 4rem);
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  
  @media only screen and  (min-device-width : 1168px) {
    .central.signincontainer  {
       padding: 0;
   }
  }