<div class="central signincontainer">
    <form class="innerform">
        <section class="callforaction">
            <h4 class="simplesecondaryheadline">Reset your password</h4>
            <p class="smalltext">Enter your e-mail and reset your password.</p>
        </section>
            <label for="email" class="simpletext">E-mail</label>
            <input type="email" id="email" required>
            <app-button [buttonstyle]="'accent tall round noline stretch'">Reset your password</app-button>
    </form>
</div>