<div class="magic-cards-container-wrapper">
  <div class="magic-cards-container" *ngIf="chips">
    <ng-container *ngFor="let chip of chips; let i = index; trackBy: trackbyID">
      <section
        *ngIf="chip | objectKey: chipsPrpertyToDisplay"
        [class]="chips[i].itemClass"
        (click)="selectedItem(i)"
        [@selectanime]="chips[i].animeState"
      >
        <span class="simple-text">{{
          chip | objectKey: chipsPrpertyToDisplay
        }}</span>
        <span class="checkmark"></span>
      </section>
    </ng-container>
  </div>
</div>
