<div class="central signup-container">
  <form class="inner-form" [formGroup]="signingroup">
    <section class="call-for-action">
      <h4 class="simple-secondary-headline">Sign up</h4>
      <p class="small-text">Join now to manage complaints and claims.</p>
    </section>
    <div class="controlgroup">
      <label for="email" class="simple-text">E-mail</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [class]="showEmailError ? 'error' : null"
        (blur)="checkEmailValidity()"
      />
      <span class="custommathint" *ngIf="!showEmailError"
        >You can use letters, numbers and
        <span class="tooltip allowed-char">special charаchters.</span></span
      >
      <span
        class="custom-mat-error"
        *ngIf="showEmailError"
        [errorObject]="email?.errors"
        (errorMessage)="emailMessage = $event"
        >{{ emailMessage }}</span
      >
    </div>
    <div class="controlgroup">
      <label for="email" class="simple-text">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class]="showPassError ? 'error' : null"
        (blur)="checkPasswordValidity()"
      />
      <span class="custommathint" *ngIf="!showPassError"
        >Use 6 or more letters, numbers or
        <span class="tooltip allowed-char">special charаchters.</span></span
      >
      <span
        class="custom-mat-error"
        *ngIf="showPassError"
        [errorObject]="password?.errors"
        (errorMessage)="passwordMessage = $event"
        >{{ passwordMessage }}</span
      >
    </div>
    <div class="controlgroup">
      <section class="radiogroup leftEdge">
        <label for="business">
          <input
            type="radio"
            id="business"
            name="userRole"
            value="userbusiness"
            required
            formControlName="userRole"
          />
          <span class="radioCheckmark"></span>
          <span class="radioText">As a business owner or a company</span>
        </label>
      </section>
      <section class="radiogroup leftEdge">
        <label for="claimant">
          <input
            type="radio"
            id="claimant"
            name="userRole"
            value="userclaimant"
            required
            formControlName="userRole"
          />
          <span class="radioCheckmark"></span>
          <span class="radioText">As a claimant or a complainee</span>
        </label>
      </section>
      <section class="radiogroup leftEdge">
        <label for="both">
          <input
            type="radio"
            id="both"
            name="userRole"
            value="userBoth"
            required
            formControlName="userRole"
          />
          <span class="radioCheckmark"></span>
          <span class="radioText">Both</span>
        </label>
      </section>
    </div>
    <app-button
      [buttonStyle]="['solid', 'tall', 'round', 'no-line', 'stretch']"
      [disabled]="!signingroup.valid"
      (click)="signUp()"
      >Sign up</app-button
    >
    <section class="footer pass">
      <p class="small-text">Already have an account?</p>
      <app-button
        [buttonStyle]="[
          'minimal',
          'tall',
          'round',
          'no-line',
          'stretch',
          'borders'
        ]"
        routerLink="/signin"
        >Sign in</app-button
      >
    </section>
  </form>
</div>
