<div class="central signincontainer">
    <form class="innerform" [formGroup]="signingroup">
        <section class="callforaction">
            <h4 class="simplesecondaryheadline">Sign in</h4>
            <p class="smalltext">Sign in to your Claimletters account.</p>
        </section>
            <div class="controlgroup">
                <label for="email" class="simpletext">E-mail</label>
                <input type="email" id="email" formControlName="email" [class]="showEmailError?'error':null" (blur)="checkEmailValidity()">
                <span class="custommathint" *ngIf="!showEmailError">You can use letters, numbers and <span class="tooltip allowedchar">special charаchters.</span></span>
                <span class="custommaterror" *ngIf="showEmailError" [errorOb]="email?.errors" (errorMessage)="emailMessage=$event">{{emailMessage}}</span>
            </div>
            <div class="controlgroup">
                <label for="email"class="simpletext">Password</label>
                <input type="password" id="password" formControlName="password" [class]="showPassError?'error':null" (blur)="checkPasswordValidity()">
                <span class="custommathint" *ngIf="!showPassError">Use 6 or more letters, numbers or <span class="tooltip allowedchar">special charаchters.</span></span>
                <span class="custommaterror" *ngIf="showPassError" [errorOb]="password?.errors" (errorMessage)="passwordMessage=$event">{{passwordMessage}}</span>
            </div>
            <p class="passwordforget flink" routerLink="/forgotpassword">Forgot password?</p>
            <app-button [buttonstyle]="'accent tall round noline stretch'" [disabled]="!signingroup.valid" (click)="signIn()">Sign in</app-button>
        <section class="footer pass">
            <p class="smalltext">New to Claimletters?</p>
            <app-button [buttonstyle]="'minimal tall round noline stretch borders'" routerLink="/signup">Sign up</app-button>
        </section>
    </form>
</div>