<!-- Using the callback for the done phase, but validating the event's from state so as not to run the callback fn twice (from void to none and from none to start) -->
<div
  class="how-it-works-section-wrapper"
  #howItWorks
  [@howItWorksanime]="animeStates"
  (@howItWorksanime.done)="
    $event.fromState == 'none' ? tidyUpAfterAnimation($event) : null
  "
>
  <ng-container
    *ngFor="let item of howItWorksdata; let i = index; trackBy: trackbyID"
  >
    <section
      class="how-it-works-section hot-purple-theme"
      [ngStyle]="inlineStyleToggler ? checkItem(i, 'left') : null"
      *ngIf="toggler"
    >
      <span class="small-simple-secondary-headline">{{
        "Step " + (i + 1)
      }}</span>
    </section>
    <section
      class="how-it-works-section"
      [ngStyle]="inlineStyleToggler ? checkItem(i, 'right') : updateStyle(i)"
    >
      <span class="small-text" *ngIf="!toggler">{{ "Step " + (i + 1) }}</span>
      <h4 class="small-simple-secondary-headline">{{ item }}</h4>
    </section>
  </ng-container>
</div>
