.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #0f0f0f;
}

.inner-section,
.reverse-inner-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: inherit;
  width: 100%;
  max-width: 1128px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.white {
  color: #ffffff;
}

app-button {
  margin: 2rem 0 0 0;
}
.end > app-button {
  align-self: flex-end;
}

.right-box,
.left-box {
  width: 50%;
  height: 100%;
  flex: 1;
  display: flex;
  position: relative;
  transform: translateX(0);
  flex-direction: column;
  align-items: baseline;
  align-content: baseline;
  justify-content: center;
  background-color: inherit;
}

@media only screen and (max-device-width: 480px) {
  .inner-section > .right-box,
  .inner-section > .left-box,
  .reverse-inner-section > .left-box,
  .reverse-inner-section > .right-box {
    width: calc(100% - 2rem);
  }

  .inner-section > .right-box,
  .inner-section > .left-box,
  .reverse-inner-section > .left-box,
  .reverse-inner-section > .right-box {
    padding: 0 1rem 0 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 910px) {
  .inner-section > .right-box,
  .inner-section > .left-box,
  .reverse-inner-section > .left-box,
  .reverse-inner-section > .right-box {
    width: calc(100% - 4rem);
  }
  .inner-section > .right-box,
  .inner-section > .left-box,
  .reverse-inner-section > .left-box,
  .reverse-inner-section > .right-box {
    padding: 0 2rem 0 2rem;
  }
}

@media only screen and (min-device-width: 911px) and (max-device-width: 1167px) {
  .left-box {
    padding: 0 0 0 2rem;
  }
  .right-box {
    padding: 0 2rem 0 0;
  }

  .inner-section > .right-box > img,
  .reverse-inner-section > .left-box > img {
    width: 100%;
    top: 0;
    padding: inherit;
  }
}

@media only screen and (max-device-width: 910px) {
  .inner-section,
  .reverse-inner-section {
    flex-flow: column wrap;
    position: relative;
  }
  .inner-section > .right-box > img,
  .reverse-inner-section > .left-box > img {
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 0;
    padding: 0;
    /* opacity:0.1; */
  }
}

@media only screen and (max-device-width: 1128px) {
  .inner-section > .right-box > img,
  .reverse-inner-section > .left-box > img {
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-device-width: 1167px) {
  .inner-section,
  .reverse-inner-section {
    max-width: 100%;
    margin: 0;
  }
  .inner-section > .right-box > img,
  .reverse-inner-section > .left-box > img {
    /* position: absolute; */
    z-index: 0;
    max-width: 564px;
    right: 0;
    height: auto;
  }
  .inner-section > .right-box,
  .reverse-inner-section > .left-box {
    z-index: 1;
  }
}

@media only screen and (min-device-width: 1168px) {
  .left-box,
  .right-box {
    padding: 0;
  }
}
